<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="cadena_conexion" connectionString="Data Source=GUZMAN-PC\SQLROSA;Initial Catalog=BDSISTEMAVENTAS;User ID=SistemaVentasRosa;Password=nPmmaMt;Integrated Security=True" providerName="System.Data.SqlClient" />
		<!--conexión con usuario windows-->
		<!--<add name="cadena_conexion" connectionString="Data Source=instancia;Initial Catalog=basede datos;User ID=usuarioSQL;Password=pass;Integrated Security=True" providerName="System.Data.SqlClient" />-->
		<!--conexión con usuario sql-->
		<!--<add name="cadena_conexion" connectionString="Data Source=instancia;Initial Catalog=basede datos;Integrated Security=True" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
</configuration>